/* -------------------------------- 

Primary style

-------------------------------- */

html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  /* font-size: 100%; 
 
  font-family: "Roboto", sans-serif;
  color: #01818D; */
  background-color: #F4F3EE;
}



body, html {
  /* important */
  height: 100%;
}

a {
  color: black;			/* color of Narrative essays///////////////////////////////////////////////////// */
  text-decoration: none;
}



/* -------------------------------- 

Modules - reusable parts of our design

-------------------------------- */
* {
	margin: 0;
	padding: 0;
	
}
.cd-container {
  /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
  width: 100%;
  height: 100%;
  max-width: 700px;
  margin: 0 auto;
}
.cd-container::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both;
}

/* -------------------------------- 

Main components 

-------------------------------- */
.cd-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
 background-color: #121827;
  background-image: url(../../Startpage/img/header.png);
  background-repeat:no-repeat;
 box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  z-index: 10001;
}
.cd-header:after {
  content: "";
  display: table;
  clear: both;
}
.cd-header #cd-logo {
  float: left;
  margin: 13px 0 0 5%;
}
.cd-header #cd-logo img {
  display: block;
}
@media only screen and (min-width: 768px) {
  .cd-header {
    height: 70px;
  }
  .cd-header #cd-logo {
    margin: 23px 0 0 5%;
  }
}

.cd-main-nav {
  position:relative;
  top:-3px;
  float: right;
  margin-right: 70px;
  width: 44px;
  height: 100%;
 /* background: url("../img/cd-icon-menu.svg") no-repeat center center;
  background-size: 44px 44px;*/
  cursor: pointer;
}
.cd-main-nav ul {
  position: absolute;
  top: 0;
  left: 0;
  /* width: 100%; */
 /*  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%); */
}
.cd-main-nav ul.is-visible {
  -webkit-transform: translateY(50px);
  -moz-transform: translateY(50px);
  -ms-transform: translateY(50px);
  -o-transform: translateY(50px);
  transform: translateY(50px);
}
.cd-main-nav a {
display: block;
  height: 45px;

width:130%;
  line-height: 50px;
padding:10%;
	
  background: #2f292a;
  border-top: 1px solid #453c3d;
  text-align:center;
  border-radius:30px;
  color: #8e7d7f;
  text-decoration: none;
  transition: all 0.3s ease-in;
}
@media only screen and (min-width: 768px) {
  .cd-main-nav {
    width: auto;
    height: auto;
    background: none;
    cursor: auto;
  }
  .cd-main-nav ul {
    position: static;
    width: auto;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    line-height: 70px;
  }
  .cd-main-nav ul.is-visible {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
  .cd-main-nav li {
    display: inline-block;
    margin-left: 1em;
  }
  .cd-main-nav a {
      display: inline-block;
    height: auto;
    line-height: normal;
    background: transparent;
    padding: .6em 1em;
    border-top: none;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    font-size: 0.875rem;
  }
    
  .cd-main-nav a:hover{
         -webkit-stroke-width: 5.3px;
      -webkit-stroke-color: #FFFFFF;
      -webkit-fill-color: #FFFFFF;
      border-top: 2px solid #009ae1;
       -webkit-transition: border-color 0.8s ease;
  -moz-transition: border-color 0.8s ease;
  -ms-transition: border-color 0.8s ease;
  -o-transition: border-color 0.8s ease;
  transition: border-color 0.8s ease;
    }
  .no-touch .cd-main-nav a:hover {
    color: #99a478;
  }
}

.cd-main-content {
  /* you need to assign a min-height to the main content so that the children can inherit it*/
	height: 100%;
	position:relative;
    margin-left:auto;
    margin-right:auto;
	margin-top: 0;
    width:1328px;
  z-index: 1;
}

.cd-fixed-bg {
  position: relative;
  min-height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 1;
}
/* .cd-fixed-bg h1, .cd-fixed-bg h2 {
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  width: 90%;
  max-width: 1170px;
  text-align: center;
  font-size: 30px;
  font-size: 1.875rem;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  color: white;
} */
.cd-fixed-bg.cd-bg-1 {
  background-image: url("../img/bg-3.jpg"); 
}
.cd-fixed-bg.cd-bg-1 h1{
font-size:50px;
top:20px;
font-weight:700;
    color: black;
}
.cd-fixed-bg.cd-bg-2 {
  background-image: url("../img/bg-3.jpg");
     min-height: 300px;
}
.cd-fixed-bg.cd-bg-2 h1{
position:relative;
top:240px;
}

.cd-fixed-bg.cd-bg-3 {
  background-image: url("../img/bg-3.jpg");
  min-height: 300px;
}
.cd-fixed-bg.cd-bg-3 h1{
position:relative;
top:240px;
text-align:center;
}
.cd-fixed-bg.cd-bg-4 {
  background-image: url("../img/bg-3.jpg");
    /* background-size: cover; */
  min-height: 300px;
}
.cd-fixed-bg.cd-bg-4 h1{
/* font-family:Century Gothic; */
width:700px;
margin-left:300px;
padding-top: 80px;
text-align:center;
color: black;
}
.cd-fixed-bg.cd-bg-5 {
  background-image: url("../img/bg-3.jpg");
  min-height: 300px;
/*     background-size: contain;
    background-attachment: fixed; */
}
.cd-fixed-bg.cd-bg-5 h1{
position:relative;
top:120px;
text-align:center;
}
@media only screen and (min-width: 768px) {
  /* .cd-fixed-bg h1, .cd-fixed-bg h2 {
    font-size: 36px;
  } */
}
.cd-fixed-bg.cd-bg-6 {
  background-image: url("../img/bg-3.jpg");
  min-height: 640px;
}
}
@media only screen and (min-width: 1170px) {
  .cd-fixed-bg {
    background-attachment: fixed;
	
  }
  /* .cd-fixed-bg h1, .cd-fixed-bg h2 {
      font-family: Century Gothic;
    font-size: 50px;
    font-weight: 300;
      color: #14373a;
  } */
}
/* --------------------------------------------new style for headings and text----------------------------------------------------------------------- */
.bg-1text{
text-align:center;
position:relative;
top:140px;
left:195px;
width:70%;
}

h1{
font-family:Algerian;
font-size: 40px;
color:#5a584b;
}
h2{
font-family: Century Gothic;
color:#aaa694;
text-align:center;
}


/* ----------------------------------------------------------------------------------------------------------------------------------------- */
.cd-scrolling-bg {
  position: relative;
  font-family: Century Gothic;
  height: 900px;
  /*padding: 4em 0;*/
  /*line-height: 1.6;*/
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 2;
}
.cd-scrolling-bg h1{

width:900px;
margin-left:180px;
font-family:Cooper Std;
}
.cd-scrolling-bg-3{
  position: relative;
  font-family: Century Gothic;
  height: 8500px;
  /*padding: 4em 0;*/
  /*line-height: 1.6;*/
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 2;
}
.cd-scrolling-bg-3 h1{

width:900px;
margin-left:180px;
font-size:50px;
font-family:Cooper Std;
}
.cd-scrolling-bg-4{
  position: relative;
  font-family: Century Gothic;
  height: 3800px;
  /*padding: 4em 0;*/
  /*line-height: 1.6;*/
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 2;
}
.cd-scrolling-bg-4 h1{

width:900px;
margin-left:180px; //this is the culprit
font-size:50px;
font-family:Cooper Std;
}
.cd-scrolling-bg-5{
  position: relative;
  font-family: Century Gothic;
  height: 2000px;
  /*padding: 4em 0;*/
  /*line-height: 1.6;*/
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 2;
}
.cd-scrolling-bg-5 h1{

width:900px;
margin-left:180px;
font-family:Cooper Std;
}
.cd-scrolling-bg.cd-color-1 {
  background-color: #CCFFCC;
  color: black;
}
.cd-scrolling-bg.cd-color-2 {
  background-color: #CCFFCC;
  color: black;
}
.cd-scrolling-bg.cd-color-3 {
 background-color: #CCFFCC;
  color: black;
}
.cd-scrolling-bg-3.cd-color-3 {
 background-color: #CCFFCC;
  color: black;
}
.cd-scrolling-bg-4.cd-color-3 {
 background-color:#CCFFCC;
  color: black;
}
.cd-scrolling-bg-5.cd-color-3 {
  background-color:#CCFFCC;
  color: black;
}
@media only screen and (min-width: 100px) {
  .cd-scrolling-bg {
    padding: 4em 0;
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 1.5;
    font-weight: 300;
  }
   .cd-scrolling-bg-3 {
    padding: 4em 0;
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 2;
    font-weight: 300;
  }
  .cd-scrolling-bg-4 {
    padding: 4em 0;
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 2;
    font-weight: 300;
  }
  .cd-scrolling-bg-5 {
    padding: 4em 0;
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 2;
    font-weight: 300;
  }
}

/**************************************other css *********************************************************/

/*******************************************************************************************************/
