/* -------------------------------- 

Primary style

-------------------------------- */
html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-size: 100%;
  font-family: "Roboto", sans-serif;
  color: #3d3536;
  background-color: white;
}

body, html {
  /* important */
  height: 100%;
}

a {
  color: #b4d7a8;
  text-decoration: none;
}

/* -------------------------------- 

Modules - reusable parts of our design

-------------------------------- */
.cd-container {
  /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
  width: 98%;
/*   max-width: 768px; */
  margin: 0 auto ;
}
.cd-container::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both;
}

/* -------------------------------- 

Main components 

-------------------------------- */
.cd-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: #121827;
  background-image: url(../../Startpage/img/header.png);
  background-repeat:no-repeat;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  z-index: 10001;
}
.cd-header:after {
  content: "";
  display: table;
  clear: both;
}
.cd-header #cd-logo {
  float: left;
  margin: 13px 0 0 5%;
}
.cd-header #cd-logo img {
  display: block;
}
@media only screen and (min-width: 768px) {
  .cd-header {
    height: 70px;
  }
  .cd-header #cd-logo {
    margin: 23px 0 0 5%;
  }
}


.cd-main-nav {
	position:relative;
	top:-3px;
  float: right;
  margin-right: 70px;
  width: 50px;
  height: 100%;
  
 /*  background: url("../img/cd-icon-menu.svg") no-repeat center center; */
/*   background-size: 44px 44px; */
  cursor: pointer;
}
.cd-main-nav ul {
  position: absolute;
  top: 0;
  left: 0;
  list-style-type:none;
  
/*   width: 100%; */
  
/*   -webkit-transform: translateY(10px);
  -moz-transform: translateY(10px);
  -ms-transform: translateY(10px);
  -o-transform: translateY(10px);
  transform: translateY(10px); */
}
.cd-main-nav ul.is-visible {
  -webkit-transform: translateY(50px);
  -moz-transform: translateY(50px);
  -ms-transform: translateY(50px);
  -o-transform: translateY(50px);
  transform: translateY(50px);
} 
.cd-main-nav a {
  display: block;
  height: 45px;

width:130%;
  line-height: 50px;
padding:10%;
	
  background: #2f292a;
  border-top: 1px solid #453c3d;
  text-align:center;
  border-radius:30px;
  color: #8e7d7f;
  text-decoration: none;
  transition: all 0.3s ease-in;
}
@media only screen and (min-width: 768px) {
  .cd-main-nav {
    width: auto;
    height: auto;
    background: none;
    cursor: auto;
  }
  .cd-main-nav ul {
    position: static;
    width: auto;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    line-height: 70px;
  }
  .cd-main-nav ul.is-visible {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
  .cd-main-nav li {
    display: inline-block;
    margin-left: 1em;
  }
  .cd-main-nav a {
    display: inline-block;
    height: auto;
    line-height: normal;
    background: transparent;
    padding: .6em 1em;
    border-top: none;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    font-size: 0.875rem;
  }
    
  .cd-main-nav a:hover{
      -webkit-stroke-width: 5.3px;
      -webkit-stroke-color: #FFFFFF;
      -webkit-fill-color: #FFFFFF;
      border-top: 2px solid #009ae1;
       -webkit-transition: border-color 0.8s ease;
  -moz-transition: border-color 0.8s ease;
  -ms-transition: border-color 0.8s ease;
  -o-transition: border-color 0.8s ease;
  transition: border-color 0.8s ease;
    }
  .no-touch .cd-main-nav a:hover {
    color: #99a478;
      border-color: #009ae1;
  }
}

.cd-main-content {
  /* you need to assign a min-height to the main content so that the children can inherit it*/
  height: 100%;
  position:relative;
  z-index: 1;
}

.cd-fixed-bg {
  position: relative;
  min-height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 1;
}
.cd-fixed-bg h1, .cd-fixed-bg h2 {
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  width: 90%;
  max-width: 1170px;
  text-align: center;
  font-family: Century Gothic;
  font-size: 50px;
  font-weight: 300;
  color: aqua;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}
.cd-fixed-bg.cd-bg-1 {
  background-image: url("../img/cd-background-5.jpg");
}
.cd-fixed-bg.cd-bg-2 {
  background-image: url("../img/cd-background-6.jpg");
}
.cd-fixed-bg.cd-bg-3 {
  background-image: url("../img/cd-background-3.jpg");
}
.cd-fixed-bg.cd-bg-4 {
  background-image: url("../img/cd-background-4.jpg");
}
@media only screen and (min-width: 768px) {
  .cd-fixed-bg h1, .cd-fixed-bg h2 {
    font-family: Century Gothic;
  font-size: 36px;
  font-weight: 300;
  color: aqua;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-fixed-bg {
    background-attachment: fixed;
  }
  .cd-fixed-bg h1, .cd-fixed-bg h2 {
    font-family: Century Gothic;
  font-size: 50px;
  font-weight: 300;
  color: aqua;
	  
	  
  }
}

.cd-scrolling-bg {
  position: relative;
  min-height: 100%;
  padding: 4em 0;
  line-height: 1.6;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  z-index: 2;
/*   background-image: url("../img/bg-scroll.jpg"); */
}
.cd-scrolling-bg.cd-color-1 {
  background-color: #b4d7a8;
  color: #3d3536;
  
}
.cd-scrolling-bg.cd-color-2 {
  background-color: #b4d7a8;
  color: #3d3536;
}
.cd-scrolling-bg.cd-color-3 {
  background-color: #b4d7a8;
  color: #3d3536;
}
@media only screen and (min-width: 768px) {
  .cd-scrolling-bg {
    padding: 8em 0;
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 2;
    font-weight: 300;
  }
}

/*------------------------------------------slideshow code----------------------------------------------*/
*{
	margin:0;
	padding:0;
}
.textandslide{
width: 100%;
margin: 0px auto;
text-align: left;
}

.text{
width:60%;
float: left;
margin-left: 0px;
}

#container{
	width:500px;
	float: right;
	height:350px;
	position:relative;
}

#container .prevButton{
	height:72px;
	width:68px;
	position:absolute;
	background:url('../img/buttonwhite.png') no-repeat;
	
	top:50%;
	margin-top:-36px;
	cursor:pointer;
	z-index:2000;
 	background-position:left top;
 	left:0
}

#container .prevButton:hover{ background-position:left bottom;left:0;}

#container .nextButton{
	height:72px;
	width:68px;
	position:absolute;
	background:url('../img/buttonwhite.png') no-repeat;
	top:50%;
	margin-top:-36px;
	cursor:pointer;
	z-index:2000;
 	background-position:right top;
 	right:0
}

#container .nextButton:hover{background-position:right bottom;right:0;}

#container ul{
	width:500px;
	height:350px;
	list-style:none outside none;
	position:relative;
	overflow:hidden;
}

#container li:first-child{
	display:list-item;
	position:absolute;
}

#container li{
	position:absolute;
	display:none;
}

/*-----------------------------------------end of slide show-----------------------*/
.textandslide2{
width: 100%;
margin: 0px auto;
text-align:left;

}
.text2{
width:60%;
float: left;
margin-left: 0px;
}

#container2{
	width:500px;
	float: right;
	height:350px;
	position:relative;
}
#container2 .prevButton2{
	height:72px;
	width:68px;
	position:absolute;
	background:url('../img/buttonwhite.png') no-repeat;
	
	top:50%;
	margin-top:-36px;
	cursor:pointer;
	z-index:2000;
 	background-position:left top;
 	left:0
}

#container2 .prevButton2:hover{ background-position:left bottom;left:0;}

#container2 .nextButton2{
	height:72px;
	width:68px;
	position:absolute;
	background:url('../img/buttonwhite.png') no-repeat;
	top:50%;
	margin-top:-36px;
	cursor:pointer;
	z-index:2000;
 	background-position:right top;
 	right:0
}

#container2 .nextButton2:hover{background-position:right bottom;right:0;}

#container2 ul{
	width:500px;
	height:350px;
	list-style:none outside none;
	position:relative;
	overflow:hidden;
}

#container2 li:first-child{
	display:list-item;
	position:absolute;
}

#container2 li{
	position:absolute;
	display:none;
}
#container3{
	width:500px;
	float: right;
	height:350px;
	position:relative;
}
#container3 .prevButton3{
	height:72px;
	width:68px;
	position:absolute;
	background:url('../img/buttonwhite.png') no-repeat;
	
	top:50%;
	margin-top:-36px;
	cursor:pointer;
	z-index:2000;
 	background-position:left top;
 	left:0
}

#container3 .prevButton3:hover{ background-position:left bottom;left:0;}

#container3 .nextButton3{
	height:72px;
	width:68px;
	position:absolute;
	background:url('../img/buttonwhite.png') no-repeat;
	top:50%;
	margin-top:-36px;
	cursor:pointer;
	z-index:2000;
 	background-position:right top;
 	right:0
}

#container3 .nextButton3:hover{background-position:right bottom;right:0;}

#container3 ul{
	width:500px;
	height:350px;
	list-style:none outside none;
	position:relative;
	overflow:hidden;
}

#container3 li:first-child{
	display:list-item;
	position:absolute;
}

#container3 li{
	position:absolute;
	display:none;
}


