@import url("reset.css") screen;
@import url("animation.css") screen;

/* Common */
html, body {
	background-color: black;
	font-size:12px;
	font-family:"Open Sans", serif;
	min-width:960px;
	margin:0;
	padding:0;
	color:#aaa;
    font-size: 100%;
}
.cd-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: #121827;
  background-image: url(../../../Startpage/img/header.png);
  background-repeat:no-repeat;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  z-index: 10001;
}
.cd-header:after {
  content: "";
  display: table;
  clear: both;
}
.cd-header #cd-logo {
  float: left;
  margin: 13px 0 0 5%;
}
.cd-header #cd-logo img {
  display: block;
}
@media only screen and (min-width: 768px) {
  .cd-header {
    height: 70px;
  }
  .cd-header #cd-logo {
    margin: 23px 0 0 5%;
  }
}


.cd-main-nav {
	position:relative;
	top:-3px;
  float: right;
  margin-right: 70px;
  width: 50px;
  height: 100%;
  
 /*  background: url("../img/cd-icon-menu.svg") no-repeat center center; */
/*   background-size: 44px 44px; */
  cursor: pointer;
}
.cd-main-nav ul {
  position: absolute;
  top: 0;
  left: 0;
  list-style-type:none;
  
/*   width: 100%; */
  
/*   -webkit-transform: translateY(10px);
  -moz-transform: translateY(10px);
  -ms-transform: translateY(10px);
  -o-transform: translateY(10px);
  transform: translateY(10px); */
}
.cd-main-nav ul.is-visible {
  -webkit-transform: translateY(50px);
  -moz-transform: translateY(50px);
  -ms-transform: translateY(50px);
  -o-transform: translateY(50px);
  transform: translateY(50px);
} 
.cd-main-nav a {
  display: block;
  height: 45px;

width:130%;
  line-height: 50px;
padding:10%;
	
  background: #2f292a;
  border-top: 1px solid #453c3d;
  text-align:center;
  border-radius:30px;
  color: #8e7d7f;
  text-decoration: none;
  transition: all 0.3s ease-in;
}
@media only screen and (min-width: 768px) {
  .cd-main-nav {
    width: auto;
    height: auto;
    background: none;
    cursor: auto;
  }
  .cd-main-nav ul {
    position: static;
    width: auto;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    line-height: 70px;
  }
  .cd-main-nav ul.is-visible {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
  .cd-main-nav li {
    display: inline-block;
    margin-left: 1em;
  }
  .cd-main-nav a {
    display: inline-block;
    height: auto;
    line-height: normal;
    background: transparent;
    padding: .6em 1em;
    border-top: none;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    font-size: 0.875rem;
  }
    
  .cd-main-nav a:hover{
      -webkit-stroke-width: 5.3px;
      -webkit-stroke-color: #FFFFFF;
      -webkit-fill-color: #FFFFFF;
      border-top: 2px solid #009ae1;
       -webkit-transition: border-color 0.8s ease;
  -moz-transition: border-color 0.8s ease;
  -ms-transition: border-color 0.8s ease;
  -o-transition: border-color 0.8s ease;
  transition: border-color 0.8s ease;
    }
  .no-touch .cd-main-nav a:hover {
    color: #99a478;
      border-color: #009ae1;
  }
}

/***********************************************************/

/******************************************************************/
/* LAYOUT */




.container {
	margin-top: 0;
    margin-left: 1px;
    margin-right: 0px;
    margin-bottom: 0px;
	overflow:hidden;
	width:1345px;
}

/* CONTENT SLIDER */
#content-slider {
	width:100%;
	height:580px;
	margin:10px -2px -3px;
}
/* SLIDER */
#slider {
	background:#000;
	height:830px;
	width:100%;
    margin-top: -10px;
	/*margin:40px auto 0;*/
	overflow:visible;
	position:relative;
    
    
}

#mask {
	overflow:hidden;
	height:850px;
}
#slider ul {
	margin:0;
	padding:0;
	position:relative;
}
#slider li {
	width:800px;
	height:500px;
	position:absolute;
	top:-600px;
	list-style:none;
}

#slider li.firstanimation {
	-moz-animation:cycle 30s linear infinite;	
	-webkit-animation:cycle 30s linear infinite;		
}
#slider li.secondanimation {
	-moz-animation:cycletwo 30s linear infinite;
	-webkit-animation:cycletwo 30s linear infinite;		
}
#slider li.thirdanimation {
	-moz-animation:cyclethree 30s linear infinite;
	-webkit-animation:cyclethree 30s linear infinite;		
}
#slider li.fourthanimation {
	-moz-animation:cyclefour 30s linear infinite;
	-webkit-animation:cyclefour 30s linear infinite;		
}
#slider li.fifthanimation {
	-moz-animation:cyclefive 30s linear infinite;
	-webkit-animation:cyclefive 30s linear infinite;		
}
/* PROGRESS BAR */

/*////////////////////////////////////////////////////////////////////////////////*/

.footer{
 background-color: black;
    height:38.4em;
    width: 100%;
    margin-top: 2em;
    margin-bottom: -2px;
    clear: both;
    color: #FF9933;
}
.footer a {
    text-decoration: none;
    z-index: 1000;
    color: #FF9933;
}

.footer a:hover{
   -webkit-stroke-width: 5.3px;
      -webkit-stroke-color: #FFFFFF;
      -webkit-fill-color: #FFFFFF;
      text-shadow: 1px 0px 20px white;
}

#leftFooter{
    float: left;
    margin-top: 2em;
    margin-left: 2.5em;
    font-family: Century Gothic;
    font-size: 19px;
    text-align: center;
}
#rightFooter{
    float: right;
    margin-top:-16.7em;
    margin-right: 18em;
    font-family: Century Gothic;
    font-size: 19px;
    text-align: center;
}
.pics{
    margin-left: 24%;
    position: absolute;
    z-index: 1;
    margin-top: 390px;
}